<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">



</head>
<body>

  <div class="body">

  <div class="topnav">
  <a href="#home">Home</a>
  <a href="#search">YouTuber Search</a>
  <a href="#analytics"> YouTuber Analytics</a>
  <a class="active">YouTuber Comparison</a>
  </div>

  <img src= "{{ url_for('static',filename='images/img.png') }}">
  <div class="box">
    <h1> Compare YouTubers </h1>
    <form action="#" method="post">
      <input id="mysearch1" type="text" name="x" placeholder="Enter YouTuber Channel ID">
      <input id="mysearch2" type="text" name="y" placeholder="Enter YouTuber Channel ID">
      <input id="button" type="submit" name="" value="Search">
    </form>

</div>


</body>
</html>
